*{
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    font-weight: 300;
    line-height: 28px;
    background-image: url(https://d3bvfezcznypk7.cloudfront.net/staticwebsitecontent/img/bodybackground.png);
    background-size: 50%;
}
.banner{
    background-image: url(../about_us/aboutusimg.jpg);
    background-repeat: no-repeat;
    color: #ffffff;
    width: 100%;
    height: 49rem;
    background-size: cover;
    color: #ffffff;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 55px;
    letter-spacing: -1.5px;
    padding: 1px 0 !important;
    text-shadow: 0px 0px 18px #131313;;
}
.banner p {
    font-weight: bold;
    font-size: 4.5rem;
}
.banner h1{
    margin-top: 3.5rem;
    font-weight: bold;
    font-size: 6.8rem;
   
}
p{
    margin: 2rem 0 1rem;
}

.section {
    height: 100%;
    width: 100%;
  
}
.content {
    padding-top: 3%;
    display: inline-block;
}

.title-setion {
    color: #1e2d51;
    text-align: center;
    padding: 2rem 0 .5rem  0;
}
.title-setion h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    margin-top: 0px;
    color: #585858;
}
.ourmission {
    font-size: 26px !important;
}
.underline {
    width: 70px;
    height: 2px;
    background: #c80910;
    margin: 15px auto;
}
.aboutus-section {
    font-size: 15px;
    line-height: inherit;
    font-weight: 400;
    color: #737373;
}
.col-xs-12 {
    width: 100%;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

.grid{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;

}
.flex{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 15px;
    
}
.icon{
    width: 23%;
    vertical-align: middle;
    border: 0;
}
.aboutus-cities {
    font-size: 22px;
    font-weight: 200;
    margin: 8px 0;
}

.aboutus-text-center {
    text-align: center;
}
a:focus, a:hover {
    color: #23527c;
    text-decoration: underline;
}
a {
    color: #337ab7;
    text-decoration: none;
}
.bottom{
    margin: auto 10px;
}
@media only screen and (max-width: 1024px)
{.banner {
    background-size: 118%;
    background-repeat: no-repeat;
}

}
@media only screen and (max-width: 667px){
    .banner {
        background-size: 154%;
        background-repeat: repeat;
        max-height: 305px;
    }
    .banner p {
        font-weight: bold;
        font-size: 3.8rem;
    }
    p{
        margin: 2.2rem 0 -2rem;
    }
  
    }
 
@media only screen and (max-width: 990px){
    .grid{
        display: grid;
        grid-template-columns: 100%;
    
    }
    }
 
    .section {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        /* padding-top: 60px; */
    }
    .section hr{
        margin-top: 20px;
    }
    .footer {
        background: url(/img/bodybackground.png) #474747;
        background-size: 50%;
        color: white;
        height: 100%;
        padding-top: 2%;
        list-style: none;
    }
    .footer_heading {
        font-size: 18px;
        font-weight: 400;
    }
    .remove_dot {
        list-style-type: none;
        padding-left: inherit;
        text-transform: none;
        font-size: 12px;
    }
    .copyright{
        margin-top: 10px;
        margin-bottom: 2px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 300;
        font-size: .76rem;
        
    }
    .copyright > p {
        margin: 0;
        /* padding: 0 0; */
        font-size: 12px;
    }
    
    .footer a {
        color: whitesmoke;
        text-decoration: none;
        font-size: 12.8px;
        text-transform: capitalize;
    }
    
    .row {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin-right: -15px;
        margin-left: -15px;
    }
    .container {
        /* padding-right: 15px; */
        /* padding-left: 15px; */
        margin-right: auto;
        margin-left: auto;
    }
    @media (min-width: 992px){
        .col-md-7 {
            width: 58.33333333%;
        }
        }
        

@media (min-width: 992px){
    .col-md-7 {
        width: 58.33333333%;
    }
    }
    @media (min-width: 992px){
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: left;
    }}
    @media (min-width: 768px){
    .col-sm-12 {
        width: 100%;
    }}
    @media (min-width: 768px){
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
        float: left;
    }
    .col-xs-12 {
        width: 100%;
    }
    .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        float: left;
    }
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        /* margin-bottom: 15px; */
    }
    }
    @media (min-width: 992px){
    .col-md-5 {
        width: 65%;
    }
    }
    .btn-badge {
        margin-left: 15px;
        font-size: 11px;
        padding: 1px 10px;
        opacity: 1;
        color: #fff;
        border-radius: 2px;
        background-color: #1dbdc0;
    }
    
    @media (min-width: 992px)
    {
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: left;
    }
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        position: relative;
        min-height: 1px;
        /* padding-right: 15px; */
        /* padding-left: 15px; */
    }
    }
    .rest-footer-text {
        font-size: 11.2px;
        text-transform: lowercase;
        line-height: 20px;
    }
    
    .uppercase {
        text-transform: uppercase;
    }
    
    @media only screen and (max-width: 667px){
        .box{
            flex-direction: column-reverse;
        }
        *{
            font-size: 50%;
            font-family: 'Montserrat', sans-serif;
        }
        }
    @media only screen and (min-width: 668px){
      
        .box{
            flex-direction: column-reverse;
        }
        *{
            font-size: 62.5%;
            font-family: 'Montserrat', sans-serif;
        }
        }
    @media only screen and (min-width: 768px){
    
    .box{
        flex-direction: column-reverse;
    }
    *{
        font-size: 62.5%;
        font-family: 'Montserrat', sans-serif;
    }
    }
    
    @media only screen and (min-width: 992px){
        .container {
            width: 970px;
        }
        }
    
    @media only screen and (min-width: 768px){
        
        .box{
            flex-direction: column-reverse;
        }
        }
    
    @media only screen and (min-width: 992px){
        .box{
            flex-direction: row;
        }
    
    
    *{
        font-size: 62.5%;
        font-family: 'Montserrat', sans-serif;
    }
    }  
    
    @media only screen and (min-width: 1200px){
        .container {
            width: 1250px;
        }
        .box{
            flex-direction: row;
        }
        *{
            font-size: 62.5%;
            font-family: 'Montserrat', sans-serif;
        }
    }
    
    @media only screen and (max-width: 991px){
        .row{
            flex-direction: column;
            margin: auto;
        }
        .cards {
            width: 95%;
            margin: .2%;
            float: left;
            margin: auto;
        }
      
        
    }
        
    .container {
        /* padding-right: 15px; */
        /* padding-left: 15px; */
        margin-right: auto;
        margin-left: auto;
    }
    .section hr{
        margin-top: 20px;
    }
    
    